.mainContainer{
    @include horizontalMargin
}

body, html{
    width: 100%;
    height: 100%;
}

.bgImage{
    position: absolute;
    left: 50%;
    top: -12%;
    transform: translateX(-50%);
    z-index: -1;
    width: 80%;
    height: 360px;
    background-image : url("../assets/background.png");
    background-size: cover;
    opacity: 0.2;
    background-repeat: no-repeat;
}

.submitBtn {
    background-color: $myGreen;
    border: none;
    color: white;

    &:hover, &:active {
        background-color: darken($myGreen, 20%);
        color: white;
    }
}

.ng-valid[required],.ng-valid:not(form){
    border-left: 5px solid $myGreen;
}

.ng-invalid:not(form){
    border-left: 5px solid red;
}