$titleFont: 'Roboto Condensed', sans-serif;
$regularFont: 'Roboto', sans-serif;
$verticalPadding: 30px;
$horizontalMargin: 10%;

$myBlue: #1df4ff;
$myRed : #e74747;
$myYellow: #ffbf2c;
$myGray: #c3c3c3;
$myGreen: #5fd47c;
