<app-story-form *ngIf='!showCredentials' (shareResponse)='handleShareResponse($event)'[formObject]= 'formObject' [formType]="'share'"></app-story-form>

<div *ngIf='showCredentials' class="mainContainer mb-5 text-center">
    <div class="alert alert-success text-center">Your story was successfully created. Your story credentials are provided below.</div>
    <div class="text-center card" style="width: 18rem; margin: auto">
        <div class="card-header">
          Story Credential
        </div>
        <div class="card-body">
            <h5 class="card-title">Story ID</h5>
            <p>{{successId}}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Story Code</h5>
            <p>{{successCode}}</p>
        </div>
    </div>
    <button (click)='shareMore()' class="mb-5 mt-2 form-control btn btn-lg submitBtn" style="width: 18rem;">Share more stories</button>
</div>
